<div class="row">
    <form class="col s12" name="proxyForm">

        <div class="input-field col s2 offset-s1">
            <input type="text" class="validate" id="alias"  ng-model="proxy.alias" required>
            <label for="alias">别名</label>
        </div>
        <div class="input-field col s2">
            <input type="text" class="validate" id="localPort" ng-model="proxy.localPort">
            <label for="localPort">本地端口</label>
        </div>
        <div class="input-field col s2">
            <input type="text" class="validate" id="remoteHost"  ng-model="proxy.remoteHost" required>
            <label for="remoteHost">远程主机</label>
        </div>
        <div class="input-field col s2">
            <input type="text" class="validate" id="remotePort"  ng-model="proxy.remotePort" required>
            <label for="remotePort">远程端口</label>
        </div>
        <div class="valign-wrapper col s3">
            <input type="submit" value="创建代理" class="waves-effect waves-light btn" ng-click="addProxy()"/>
        </div>
    </form>
</div>
<div class="row">
    <table class="highlight bordered responsive-table" >
        <thead>
        <tr>

            <th>别名</th>
            <th>本地端口</th>
            <th>远程主机</th>
            <th>远程端口</th>
            <th>调试模式</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proxy in proxies" ng-if="!proxy.delete">
            <td>
                <div ng-if="proxy.active"><a href="#/proxy/{{proxy.id}}">{{proxy.alias}}</a></div>
                <div ng-if="!proxy.active">{{proxy.alias}}</div>
            </td>
            <td>{{proxy.localPort}}</td>
            <td>{{proxy.remoteHost}}</td>
            <td>{{proxy.remotePort}}</td>
            <td>
                <div class="switch">
                <label>
                    禁用
                    <input type="checkbox" ng-model="proxy.debug" ng-change="toggleDebug(proxy.id,proxy.debug)">
                    <span class="lever"></span>
                    启用
                </label>
            </div>
            </td>
            <td>
                 <div class="switch">
                    <label>
                        禁用
                        <input type="checkbox" ng-model="proxy.active" ng-change="toggleStatus(proxy.id,proxy.active)">
                        <span class="lever"></span>
                        启用
                    </label>
                </div>
            </td>
            <td >
                <div ng-if="!proxy.active">
                    <a class="waves-effect waves-light btn red" ng-click="deleteServer(proxy.id)" >删除</a>
                </div>
                <div ng-if="proxy.active">
                    <a class="waves-effect waves-light btn red disabled">删除</a>
                </div>
            </td>
           </tr>
        </tbody>
    </table>
</div>

